input {
  border: 1px solid gray; 
  box-shadow: none;
  background-color: rgb(255,255,255,0);
  text-align: right;
  max-width: 150px;
}

input:read-only {
  border: none;
  outline: none;
  text-align: left;
}

input[type='number']{
  max-width: 100px;
}
