.room {
  border: 0.1em solid black;
  display: inline-block;
  position: relative;
  max-height: 50px;
}

.seat {
  border: 1px solid black;
  position:absolute;
}

.nav-link{
  color: gray;
}
.nav-link:hover{
  color: #212529;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #212529;
  color: white;

}

.btn.disabled, .btn:disabled{
  background-color: gray;
}